# Firebase Configuration
GEMINI_API_KEY=

# SMTP Configuration for Emails
SMTP_HOST=mail.indiacybercafe.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=icc@booking.indiacybercafe.com
SMTP_PASS=

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=